{% extends "template.html" %}
{% block title %}{{ super() }} - {{ current_user.id }}{% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
        {{ message }}<br/>
    {% endfor %}
    <h1>Edit account information</h1>
    <div class="formcenter">
        <form action="/account" method="post">
            <table>

                {{ form.csrf_token }}
                <tr>
                    <td>{{ form.username.label }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>{{ form.phone.label }}</td>
                    <td>{{ form.phone }}</td>
                </tr>
                <tr>
                    <td>Old Password</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td>New Password</td>
                    <td>{{ form.confirmPassword }}</td>
                </tr>
                <th>
                    {% if current_user.email %}
                       <td>{{ form.submit(value="Save") }}</td>
                    {% else %}
                        <td>{{ form.submit }}</td>
                    {% endif %}

                </th>

            </table>
        </form>
    </div>
    </body>
    </html>

{% endblock %}