{% extends "home.html" %}

{% block content %}
    <h1>Add Product</h1>
    <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
        <div>
            {{ form.pro_img_url.label }} {{ form.pro_img_url }}
        </div>
        <div>
            {{ form.pro_brand.label }} {{ form.pro_brand }}
        </div>
        <div>
            {{ form.pro_category.label }} {{ form.pro_category }}
        </div>
        <div>
            {{ form.pro_size_range.label }} {{ form.pro_size_range }}
        </div>
        <div>
            {{ form.pro_size_type.label }} {{ form.pro_size_type }}
        </div>
        <div>
            {{ form.pro_colors.label }} {{ form.pro_colors }}
        </div>
        <div>
            {{ form.pro_price.label }} {{ form.pro_price }}
        </div>
        <div>
            {{ form.pro_desc.label }} {{ form.pro_desc }}
        </div>
        <div>
            {{ form.pro_model.label }} {{ form.pro_model }}
        </div>
        <div>
            {{ form.pro_type.label }} {{ form.pro_type }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
{% endblock %}