{% extends "template.html" %}
{% block title %}{{ super() }} - Product{% endblock %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for c, m in messages %}
            <div style="margin-top:3.5rem" class="alert alert-{{ c }} alert-dismissible fade show" role="alert">
                {{ m }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% block content %}
    <!-- start product detail template -->
    <div class="productdetail">
        <table>
            <tr>
                <td rowspan="2">
                    <div class="imageHolder" style="margin: 0 0 10px 0">
                        <img id="product-img" alt="Product" height="600px"
                             src="static/img/{{ item.pro_img_url.split(', ')[0] }}">

                    </div>
                </td>
                <td style="padding: 10px 20px 10px 10px">
                    <div class="product" style="margin:0px; padding:10px;  width: 100%; height: 100%">
                        <table>
                            <tr>
                                <td class="left">Brand</td>
                                <td class="right">{{ item.pro_brand }}</td>
                            </tr>
                            <tr>
                                <td class="left">Model</td>
                                <td class="right">Newton Ridge Plus II</td>
                            </tr>
                            <tr>
                                <td class="left">Category</td>
                                <td class="right">{{ item.pro_category }}</td>
                            </tr>
                            <tr>
                                <td class="left">Size range</td>
                                <td class="right">{{ item.pro_size_range }}</td>
                            </tr>
                            <tr>
                                <td class="left">Size type</td>
                                <td class="right">{{ item.pro_size_type }}</td>
                            </tr>
                            <tr>
                                <td class="left">Colors</td>
                                <td class="right">{{ item.pro_colors }}</td>
                            </tr>
                            <tr>
                                <td class="left">Price</td>
                                <td class="right">{{ item.pro_price }}$</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0px 20px 10px 10px">
                    <form action="/add_to_cart/{{ item.pro_id }}" method="post">
                        {{ form.csrf_token }}
                        <div class="product" style="margin: 0; padding: 10px; width: 100%; height: auto">
                            <table style="margin: 0; padding: 10px; width: 100%">
                                <tr>
                                    <td class="left">{{ form.size.label }}</td>
                                    <td class="right">
                                        <select class="size-select" name="{{ form.size.name }}">
                                                {% for size in sizes %}
                                                <option value="{{ size }}">{{ size }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left">{{ form.color.label }}</td>
                                    <td class="right">
                                        <select class="color-select" name="{{ form.color.name }}">
                                            {% for color in item.pro_colors.split(', ') %}
                                                <option value="{{ color }}"
                                                        data-image="{{ item.pro_img_url.split(', ')[loop.index0] }}">{{ color }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left">{{ form.quantity.label }}</td>
                                    <td class="right">{{ form.quantity }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <a href="/add_to_cart/{{ item.id }}">
                                            <input class="button" id="submit" name="submit" type="submit" value="Add to Cart">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>

                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 0px 20px 0px 0px; width: 50px">
                    <div class="product" style="width: 100%; height: auto; padding: 10px; margin: 0">
                        <h1>Product Description</h1>
                        <p>{{ item.pro_desc }}</p>
                    </div>
                </td>
            </tr>
            <tr></tr>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('.color-select').on('change', function () {
                var selected = $(this).find(':selected');
                var image = selected.data('image');
                $('#product-img').attr('src', 'static/img/' + image);
            });
        });
    </script>
    <!-- end product detail template -->
{% endblock %}