{% extends "template.html" %}
{% block content %}
    <h1>Women</h1>
        <form method="POST">
            <table class="filter">
                <tr>
                    <td>Filters</td>
                    <td>
                        <select name="size">
                            <option value="" selected>Size</option>
                            {% for x in filters.filter_sizes %}
                            <option value="size{{ x }}">{{ x }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="color">
                            <option value="" selected>Color</option>
                            {% for x in filters.filter_colors %}
                            <option value="{{ x }}">{{ x }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="brand">
                            <option value="" selected>Brand</option>
                            {% for x in filters.filter_brands %}
                            <option value="{{ x }}">{{ x }}</option>
                            {% endfor %}
                        </select>
                    </td>

                    <td>
                        <select name="category">
                            <option value="" selected>Category</option>
                            {% for x in filters.filter_categories %}
                            <option value="{{ x }}">{{ x }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>Sort By:
                        <select name="sort">
                            {% for x in filters.sorters %}
                            <option value="{{ x }}">{{ x }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><button type="submit">Apply</button></td>
                </tr>
            </table>
        </form>
    {% for i in range(18) %}
      <div class="product">
    <table>
      <tr>
        <td colspan="2"><div class="imageHolder"><img alt="Product" width="100%" src="static/img/61nqdAJLzAL._AC_UL640_FMwebp_QL65_.webp"></div></td>
      </tr>
      <tr>
        <td class="left">Brand</td>
        <td class="right">Columbia</td>
      </tr>
      <tr>
        <td class="left">Model</td>
        <td class="right">Newton Ridge Plus II</td>
      </tr>
      <tr>
        <td class="left">Category</td>
        <td class="right">boots</td>
      </tr>
      <tr>
        <td class="left">Size range</td>
        <td class="right">7 - 11</td>
      </tr>
      <tr>
        <td class="left">Size type</td>
        <td class="right">US Men</td>
      </tr>
      <tr>
        <td class="left">Colors</td>
        <td class="right">white, black</td>
      </tr>
      <tr>
        <td class="left">Price</td>
        <td class="right">159.99$</td>
      </tr>
      <tr>
        <td colspan="2" style="padding: 10px"><span class="button"><a href="/productdetail">Details</a></span></td>
      </tr>
    </table>
  </div>
    {% endfor %}
{% endblock %}